.main {
    position: relative;
    z-index: 1;
    color: #212529
}

.main-content {
    display: flex;
    padding: 200px 16px;
    justify-content: center;
    background-color: #f1f3f5;
}

.card-wrap {
    display: flex;
    padding: 0px 16px;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
    text-align: left;
    flex-wrap: wrap;
}

.card {
    width: 213px;
    height: 300px;
    border: 1px solid #e9ecef;
    border-radius: 8px;
    margin : 30px;

}

.card:hover {
    transform : scale(1.02)
}


.card-link {
    text-decoration: none;
    color: #212529;
}

.card-photo {
    width: 100%;
    position: relative;
    height: 180px;
    overflow: hidden;
    background-color: #f8f9fa;
    border-radius: 8px 8px 0 0;
}

.card-img {
    width : 100%;
}

.card-desc {
    padding: 16px 16px 16px 16px;
    text-align: left;
}

.card-title {
    font-size: 17px;
    font-weight: 600;
    letter-spacing: -0.6px;
    color: #212629;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 6px;
    line-height: 1.2;
}

.card-explain {
    font-size: 15px;
    color: #868e96;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 8px;
    line-height: 1.3;
    border-bottom: 1px solid #e9ecef;
}

.card-price {

    font-size : 15px;
    font-weight: 600;
    padding-bottom: 8px;
    line-height: 1.3;
}