
.header {
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.95);
    border-bottom: 2px solid #ebebeb;
}

.header-box-shadow {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1)
}

.header_wrap {
    display: flex;
    padding: 0 16px;
    align-items: center;
    justify-content: space-around;
    height : 40px;
}



